<!--The content below is only a placeholder and can be replaced.-->
<div class="container" align="center">
  <h1>Marcador de Voleibol</h1>
  <app-registro-equipo #registroEquipo  (existeEquiposParaIniciarPartido)="actualizarExisteEquipos($event) " [habilitarPantalla]="existeEquipos"></app-registro-equipo>
  <app-marcador-puntaje #marcadorPuntaje (habilitarRegistroEquipo)="habilitarPantallaRegistroEquipo($event)" [existeEquiposParaIniciarPartido]="existeEquipos" ></app-marcador-puntaje>
 
</div>

